
body {
	margin: 10px;
	font-family: 'Antic', sans-serif;
	font-size: 125%;
	line-height: 1.5em;
	min-height: 100%;
	display: flex;
	flex-direction:column;
}

@font-face {
	font-family: 'Antic';
	src: url("/fonts/Antic-Regular.ttf");	
}

@font-face {
	font-family: 'Anonymous Pro';
	src: url("/fonts/Anonymous_Pro.ttf");	
}

/* #########################################
################# HEADER ###################
######################################### */

.header {
	padding: 5px 5px 0px;
	color: #fff;
	background-color: #ff5722;
	min-height: 80px;
	margin-bottom: 0.5em;	
	border-radius: 10px;
	line-height: 2em;
}

.header-login {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

.header-no-login {
	height: 100vh;
	padding: 5px;
	text-align: center;
}

	#login-dropdown-list, .accounts-dialog {
		margin: 0 auto;
	}

.bold {
	font-weight: bold;
}

.header-link {
	text-decoration: none;
	color: #ff5722;
	border-bottom: none;
	text-shadow: none;
	background-color: #D8D8D8;
	padding: 0 5px;
}

/* #########################################
################# MAIN ###################
######################################### */

.wrapper {
	padding: 0 40px 40px;
	min-height: 150vh;
	background: #607d8b;
	color: #fff;
	border-radius: 10px;
	flex: 1;
}

.main {
	min-height: 100vh;
	padding-top: 30px;
}

fieldset {
	border-color: #9e9e9e;
	border-style: solid;
}

.nav-right{
	text-align: right
}

.loans {
	margin-top: 60px;
}

.item-list {
	margin: 1em 15%;
	padding: 1em 10%;
	border-color: transparent;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	color: #000; 
	background-color: #fff;
}

.item-id {
	font-family: 'Anonymous Pro';
	font-size: 1em;
	color: #9e9e9e;
}

.centred {
	display: inline-block;
	width: 100%;
	text-align: center;
}

footer{
	float: none;
	text-align: center;
	top:20px;
	margin-top: 50px;
	bottom:0px;
	color:#9e9e9e;
}

footer a{
	color:#ff5722;
	text-decoration: none;
}

.search{
	margin: 0 5% 60px;
}

.user-records {
	word-break: break-all;
	color: #ff5722;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 1rem;
}

legend{
	text-align: left;
}

input[type="text"]{
	width: 70%;
	margin-right: 15%;
	float: right;
}

/*fix sign-up and login text input*/
.accounts-dialog input[type="text"]{
	width: 100%;
	margin-right: 0;
	float: left;
}

input[type="search"]{
	width: 50%;
}
input[type="submit"]{
	margin-top: 0.5em;
	min-width: 80px;
	margin-right: 15%;
	float: right;
}

/* main navigation */
.screens {
	display: none;
}

.screens.true {
	display: block;
}

/* buttons */

.buttons {
	margin-bottom: 2em;
}

button, .sub-but{
	background-color: transparent;
	border-color: #ff5722;
	border-style: solid;
	border-width: 3px;
	border-radius: 3px;
	color:white;
	height: 2.5em;
	outline: none;
}

button:hover, .sub-but:hover, button.true{
	background-color: white;
	color: #ff5722;
	border-color: transparent;
}

.item-listing {
	border: 1px solid #9e9e9e;
	border-radius: 5px;
	margin-bottom: 1rem;
	padding: 1rem;
}

.loan-status-on {
	padding: 0 1px;
	border: 1px solid #ff5722;
	border-radius: 5px;
	background-color: #ff5722;
	color: #fff;
}

.loan-status-available {
	padding: 0 1px;
	border: 1px solid #607d8b;
	border-radius: 5px;
	background-color: #607d8b;
	color: #fff;
}

.similar {
	/*font-size: 1em;*/
	margin-left: 1em;
	color: #D8D8D8;
	font-family: 'Anonymous Pro';
	text-shadow: 1px 1px #000;
}

.ymal-title {
	margin-left: 1rem;
	text-shadow: 1px 1px #000;	
}

.footer a {
	text-shadow: none;
}

/* #########################################
############### RESPONSIVE #################
######################################### */

@media screen and (max-width: 1200px) {

	body, input {
		font-size: 375%;
	}

	.header-link {
		text-decoration: none;
		color: #ff5722;
		border-bottom: none;
		text-shadow: none;
		background-color: #D8D8D8;
	}

	#login-dropdown-list, .accounts-dialog {
		position: static;
		display: block;
		width:90vw;
		margin:0 auto;
		padding: 0 auto;
		font-size: 1em;
	}

	.main p {
		text-align: justify;	
	}

	button, .sub-but {
		font-size: 1em;
		border-width: 6px;
		border-radius: 6px;
		margin-top: 6px;
		padding: 0 0.1em;
		width:90vw;
	}

	fieldset, .search {
		margin: 0;
		padding: 0;
	}

	input[type="text"] {
		margin:0 auto;
		width:90vw;
		font-size: 1em;
		line-height: 2em;
		float:none;
		text-align: center;
	}

	input[type="submit"]{
		margin:0.5em auto;
	}

	.item-list {
		margin:0.5em auto;
		padding: 0.25em;
	}

	.item-id, .loan-status-on, .loan-status-available {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
}